/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {
	line-height: 1;
	font-family: calibri;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/


/*	Layout Styles	*/
html, body{
	height: 100%;
}

#container{
	min-height: 100%;
	position: relative;
}

#header{ 
	height: 60px;  
	width: 100%;
	background: #000000;
}

#header h1{
	padding-top: 15px; 
	color:white; 
	text-align:center; 
	font-size:30px; 
	font-variant: small-caps; 
	letter-spacing: 10px;
}

#footer { 
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	padding-top: 16px; 
	padding-bottom: 16px; 
	text-align: center; 
  	background: #252525;  
	color: white; }

#footer h1{
	padding-top: 10px;  
	color:white; 
	text-align:center; 
	font-size:15px; 
	font-variant: small-caps; 
	letter-spacing: 10px;	
}

#userInfo{
	height:80px;
	width: 100%;
	background-color: #2BA3D4;
}

#userInfo img{
	position: relative;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: auto;
	right: 140px;
	top: 15px;
}

#userInfo h2{
	position: relative;
	display: block;
	color: white;
	font-size: 25px;
	margin: auto;
	width: 400px;
	left: 110px;
	top: -25px;
}

#sideBar{ /******Container*******/
	width: 240px;
	margin-top: 100px;
	margin-right: 20px;
	position: absolute;
	right: 0;
}

#buttons{	/* Inner Container of #sideBar */
	width: 240px;
	height: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
	margin-left: auto;
	margin-right: auto;
}

.buttonEducation, .buttonWork{
	cursor: pointer;
	float: left;
	text-align: center;
	font-size: 16px;
	color: white;
	padding: 10px 20px;
	margin: 18px 0 0 20px;
	text-decoration: none;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.buttonEducation {
	background: rgba(71, 186, 255, 0.8);
}

.buttonEducation:hover {
	background: rgba(71, 186, 255, 1);
}

.buttonWork {
	background: rgba(241, 118, 122, 0.8);
}

.buttonWork:hover {
	background: rgba(241, 118, 122, 1);
}

#circleDetailsModal{ /* Inner Container of #sideBar */
	margin-top: 20px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.circleParaGroup{
	height: 50px;
}

.circleDetails { /* Small Circles */
	float: left;
	border-radius: 10%;
	width: 20px;
	height: 20px;
	background-color: grey;
}


.circleDetailsPara{ /* Circle Name */
	float: left;
	color: grey;
	padding-left: 7px;
	width: 173px;
}

.circleDetailsParaEach{
	margin-top: 16px;
}


/*My styles*/
#mainGraph {
	width: 1320px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	background: white;
	position: relative;
	background: url(../images/grey.png) repeat #222;
	border-radius: 1%;
	height: 508px;
}

svg{
	position: absolute;
	background-color : transparent;
	right: 0px;
	top: -21px;
}


.axis path {
	fill: none;
/*	stroke:#FF534E;*/
	stroke:none;
	shape-rendering: crispEdges;
}

.xaxis line {
	fill: none;
	stroke:none;
	shape-rendering: crispEdges;
}

.yaxis line {
	fill: none;
	stroke:white;
	shape-rendering: crispEdges;
}
.xaxis text {
	font-family: sans-serif;
	font-size: 11px;
	fill: none;
}

.yaxis text {
	font-family: sans-serif;
	font-size: 12px;
	fill: white;
}


/* ***************************************START Education Details Styles******************************************* */
#educationDetails{
	position: absolute;
	width: 577px;
	height: 400px;
	left: 16px;
/*	background-color: #D9FFB4;*/
/*	border:1px solid lightgrey;*/
}

#yAxisBackground{
	height: 508px;
	width: 50px;
	background-color: grey;
/*	background: url(../images/grey_wash_wall.png) repeat #222;*/
	position: absolute;
	right: 660px;
	top:0;
}

#cover1axis{
	position: absolute;
	width:40px;
	height:35px;
	background-color: grey;
	right: 660px;
	z-index: 100;
}

#cover2axis{
	position: absolute;
	width:40px;
	height:35px;
	background-color: grey;
	bottom: 0px;
	right: 660px;
	z-index: 100;
}

.percentageTicks{
	position: relative;
	float: left;
	width: 1px;
	height: 10px;
	margin-left: 45.5px;
	background-color: rgb(180, 180, 180);
	top:-5px;
}

.percentageTicks p{
	position: relative;
	top:-20px;
	right:7px;
	color: grey;
}

.yearTicks{
	position: relative;
	float: left;
	width: .5px;
	height: 10px;
	margin-left: 45.5px;
	background-color: rgb(180, 180, 180);
	top:0px;
	right: 465px;
}

.yearTicks p{
	position: relative;
	top:-25px;
	right:5px;
	color: grey;
}

#hexagonContainer{	/* **********Hexagon Container********* */
	height: 85px;
	width: 40px;
	position: relative;
	top: 35px;
	right: -445px;
/*	background-color: green;*/
}

#hexLine{
	width: 159px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	position:relative;
	top:-40px;
	right:60px;
}

#hexTop{
	width: 0;
	border-bottom: 25px solid rgb(180, 180, 180);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

#hexMiddle{
	width: 40px;
	height: 35px;
	background-color: rgb(180, 180, 180);
}

#hexMiddle p{
	color:#606060; 
	padding-top:5px; 
	padding-left:12px; 
	font-size:25px; 
}

#hexBottom{
	width: 0;
	border-top: 25px solid rgb(180, 180, 180);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

#triRecContainer{	/* ***********Triangle Container*********** */
	width: 406px;
	height: 80px;
	position:relative;
	top: 70px;
	right: -100px;
/*	background-color: blue;*/
}

#leftTri{
	border-top: 40px solid transparent;
	border-right: 50px solid #EA5460;
	border-bottom: 40px solid transparent;
	float: left;
	
}

#educationNameRect{
	width:356px;
	height:80px;
	background-color:#EA5460;
	float: left;
}

#triRecLine{
	width: 90px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:20px;
	right:80px;
	transform: rotate(28deg);
	-moz-transform: rotate(28deg);
	-ms-transform: rotate(28deg);
	-webkit-transform: rotate(28deg);
}

#workTriRecLine{
	width: 90px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:40px;
	right:80px;
	display: none;
}

#schoolCircle{
	position:relative; 
	width:20px;
	height:20px;
	top:-10px; 
	right:90px; 
	border-radius:50%; 
	background-color:#95AE00;
}

#schoolCircle span{
	color:white; 
	position:relative; 
	top:-79px; 
	right:-7px; 
	font-size:12px;
}

#collegeCircle{
	position:relative; 
	width:20px; 
	height:20px; 
	top:10px; 
	right:90px; 
	border-radius:50%; 
	background-color:#FFBE09;
}

#collegeCircle span{
	color:white; 
	position:relative; 
	top:-59px; 
	right:-6px; 
	font-size:12px;
}

#universityCircle{
	position:relative; 
	width:20px; 
	height:20px; 
	top:28px; 
	right:90px; 
	border-radius:50%; 
	background-color:#32A6DA;
}

#universityCircle span{
	color:white; 
	position:relative; 
	top:-39px; 
	right:-6px; 
	font-size:12px;
}

#workCircle{
	position:relative; 
	width:20px; 
	height:20px; 
	top:30px; 
	right:90px;  
	border-radius:50%; 
	background-color:#FFBE09;
	display: none;
}

#workCircle span{
	color:white; 
	position:relative; 
	top:-78px; 
	right:-5px;
	font-size:12px;
}

#yearToYearContainer{	/* *******Year to Year Container******* */
	height: 70px;
	width: 130px;
	position: relative;
	top: 140px;
	left: 40px;
/*	background-color: red;*/
}

#educationFirstYear{
	height:30px; 
	width:30px; 
	border-radius:50%; 
	background-color:#13A89E;
	float: left;
	margin-top: 10px;	
}

#educationFirstYear p{
	position:relative; 
	top:40px;
}

#educationSecondYear{
	height:45px; 
	width:45px; 
	border-radius:50%; 
	background-color:#E25942;
	float: right;
	position: relative;
	right:0;
}

#educationSecondYear p{
	position:relative; 
	top:50px; 
	left:3px;
}

#yTyLine{
	width: 60px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:25px;
	right:-30px;
}


#areaContainer{		/* **********Area Container*********** */
/*	background-color: orange;*/
	width: 240px;
	position: relative;
	top: 40px;
	left: 260px;
}

#eCityLine{
	width: 165px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:12px;
	right:0px;
}

#eCityCrossLine{
	width: 15px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:17px;
	right:-162px;
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
}

#eCity{
	height:20px; 
	width:20px; 
	border-radius:50%; 
	background-color:#95AE00;
	margin-top: 10px;
	position: relative;
	right: -170px;
	top: 10px;
/*	opacity: .5;*/
}

#eCity p{
	position:relative; 
	width:100px;
	font-size:13px;
	top:-24px;
}

#eStateLine{
	width: 134px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:2px;
	right:0px;
}

#eStateCrossLine{
	width: 15px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:7px;
	right:-130px;
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
}


#eState{
	height:30px; 
	width:30px; 
	border-radius:50%; 
	background-color:#FFBE09;
	position: relative;
	right: -135px;
	top: 10px;
/*	opacity: .5;*/
}

#eState p{
	position:relative; 
	width:100px; 
	font-size:13px; 
	top:-24px;
}

#eCountryLine{
	width: 89px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:-5px;
	right:0px;
}

#eCountryCrossLine{
	width: 15px;
	height: 1px;
	background-color: rgb(180, 180, 180);
	position:relative;
	top:0px;
	right:-85px;
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
}

#eCountry{
	height:40px; 
	width:40px; 
	border-radius:50%; 
	background-color:#32A6DA;
	margin-bottom: 10px;
	position: relative;
	right: -90px;
	top: 0px;
/*	opacity: .5;*/
}

#eCountry p{
	position:relative; 
	width:100px; 
	font-size:13px; 
	top:-21px;
}
/* ***************************************END Education Details Styles******************************************* */



/***************Shadows***************/
.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}

.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.bottomShadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}






